<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
        
		<title>GroupDeal</title>
        
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="assets/style/foundation/foundation.css">
        <link rel="stylesheet" type="text/css" href="assets/style/foundation/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/style/foundation/foundation-icons.css">
        <link rel="stylesheet" type="text/css" href="assets/style/flaticon/flaticon.css">
        <link rel="stylesheet" type="text/css" href="assets/style/customcss/shared.css">
        <link rel="stylesheet" type="text/css" href="assets/style/customcss/index.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
        
        <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>        

	</head>

	<body>
        
        <!-- Header and navbar -->
        <gd-header></gd-header>
        
		<div ng-controller="ThumbnailController as thbCtrl">           
            <!-- Hot offer of the day -->
			<div class="row">
				<div class="small-12 medium-12 columns hotnow">
				    <img ng-src="{{ thbCtrl.showHotProduct().images }}">
                    <div class="hotproduct">
                        <h4 class="hot-title">{{ thbCtrl.showHotProduct().title }}</h4>

                        <p class="hot-desc">{{ thbCtrl.showHotProduct().desc }}</p>

                        <span class="hot-offers label hot-label"><i class="fi-torso"> </i>{{ thbCtrl.showHotProduct().curOffers }} / {{ thbCtrl.showHotProduct().maxOffers }}</span>
                        <span class="hot-oldprice">{{ thbCtrl.showHotProduct().oldPrice | currency:"&euro;" }}</span>
                        <span class="hot-newprice">{{ thbCtrl.showHotProduct().newPrice | currency:"&euro;" }}</span>
                        
                        <button type="button" class="btn btn-lg btn-groupdeal hot-btn right">EN SAVOIR PLUS</button>
                    </div>
				</div>
			</div>
            
            <!-- List of the different categories with thumbnails -->
			<div>
				<!-- Repeat the existent categories through rows (show 2) -->
                <div class="row thb-header" ng-repeat="category in thbCtrl.categories | limitTo : 2">
					<h5 class="cat-title">{{category.label}}  
                        <span class="cat-showmore right"><a href="#">Voir toutes les offres {{category.label}}</a></span>
                    </h5>
					<div class="row">
                        <!-- Repeat the first four products (that aint "hot") of the current category -->
                        <div class="small-3 medium-3 large-3 columns" ng-repeat="product in thbCtrl.products | category:category.category | isHot | limitTo : 4">
                            <a href="#">
                                <div class="thumbnail text-center">
						          <product-thumbnail></product-thumbnail>
                                </div>
                            </a>
                        </div>
					</div>
				</div>
			</div>             				
            <div class="row text-center">
				<button type="button" class="btn btn-lg btn-groupdeal showallcat">AFFICHER TOUTES LES CATEGORIES</button>
            </div>
            
		</div>
               
        <!-- Footer -->
        <gd-footer></gd-footer>

        
        <!-- Jquery foundation -->
		<script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="assets/js/foundation/foundation.js"></script>
        <script type="text/javascript" src="assets/js/foundation/foundation.dropdown.js"></script>
        <script type="text/javascript" src="assets/js/foundation/foundation.equalizer.js"></script>
                        
        <!-- Angularjs related js files -->
        <script type="text/javascript" src="assets/js/angular/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="app/app.module.js"></script>
                        
        <script type="text/javascript" src="app/shared/header/header.module.js"></script>
        <script type="text/javascript" src="app/shared/header/header.directive.js"></script>
        
        <script type="text/javascript" src="app/shared/footer/footer.module.js"></script>
        <script type="text/javascript" src="app/shared/footer/footer.directive.js"></script>
                        
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.module.js"></script>
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.directive.js"></script>
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.controller.js"></script>
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.filter.js"></script>
        
        <script type="text/javascript" src="app/components/category/category.module.js"></script>
        <script type="text/javascript" src="app/components/category/category.controller.js"></script>
        <script type="text/javascript" src="app/components/category/category.config.js"></script>
        
        <!-- External plugins -->
		<script type="text/javascript">
            $(document).foundation();
		</script>

	</body>
</html>