<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
        
		<title>GroupDeal</title>
        
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="assets/style/foundation/foundation.css">
        <link rel="stylesheet" type="text/css" href="assets/style/foundation/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/style/foundation/foundation-icons.css">
        <link rel="stylesheet" type="text/css" href="assets/style/flaticon/flaticon.css">
        <link rel="stylesheet" type="text/css" href="assets/style/customcss/shared.css">
        <link rel="stylesheet" type="text/css" href="assets/style/customcss/index.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
        
        <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>        

	</head>

	<body>
        
        <!-- Header and navbar -->
        <gd-header></gd-header>
        
		<div>           
            <!-- Hot offer of the day -->
			<div class="row">
				<div class="small-12 medium-12 columns hotnow">
				    <img src="assets/img/samsung-galaxy-s5.jpg">
                    <div class="hotproduct">
                        <h4 class="hot-title">Samsung Galaxy S5</h4>

                        <p class="hot-desc">20% de réduction pour l'achat de 15 smartphones Samsung Galaxy S5 ! 
                        N'hésitez-plus et achetez le smartphone de vos rêves !</p>

                        <span class="hot-offers label hot-label"><i class="fi-torso"> </i>8 / 15</span>
                        <span class="hot-oldprice">499,90 €</span>
                        <span class="hot-newprice">399,90 €</span>
                        
                        <button type="button" class="btn btn-lg btn-groupdeal hot-btn right">EN SAVOIR PLUS</button>
                    </div>
				</div>
			</div>
            
            <!-- List of the different categories with thumbnails -->
			<div ng-controller="ThumbnailController as thbCtrl">
				<!-- Repeat the existent categories through rows -->
                <div class="row thb-header" ng-repeat="category in thbCtrl.categories">
					<h5 class="cat-title">{{category.label}}  
                        <span class="cat-showmore right"><a href="#">Voir toutes les offres {{category.label}}</a></span>
                    </h5>
					<div class="row">
                        <!-- Repeat the first four products (that aint "hot") of the current category -->
                        <div class="small-3 medium-3 large-3 columns" ng-repeat="product in thbCtrl.products | category:category.category | isHot | limitTo : 4">
						  <product-thumbnail></product-thumbnail>
                        </div>
					</div>
				</div>

			</div>     
            				
            <div class="row text-center">
				<button type="button" class="btn btn-lg btn-groupdeal">AFFICHER TOUTES LES CATEGORIES</button>
            </div>
            
		</div>
               
        <!-- Footer -->
        <gd-footer></gd-footer>

        
        <!-- Jquery foundation -->
		<script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="assets/js/foundation/foundation.js"></script>
        <script type="text/javascript" src="assets/js/foundation/foundation.dropdown.js"></script>
        <script type="text/javascript" src="assets/js/foundation/foundation.equalizer.js"></script>
                        
        <!-- Angularjs related js files -->
        <script type="text/javascript" src="assets/js/angular/angular.min.js"></script>
        <script type="text/javascript" src="app/app.module.js"></script>
                        
        <script type="text/javascript" src="app/shared/header/header.module.js"></script>
        <script type="text/javascript" src="app/shared/header/header.directive.js"></script>
        
        <script type="text/javascript" src="app/shared/footer/footer.module.js"></script>
        <script type="text/javascript" src="app/shared/footer/footer.directive.js"></script>
                        
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.module.js"></script>
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.directive.js"></script>
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.controller.js"></script>
        <script type="text/javascript" src="app/shared/thumbnail/thumbnail.filter.js"></script>
        
        <!-- External plugins -->
		<script type="text/javascript">
            $(document).foundation();
		</script>

	</body>
</html>