<div class="specproduct">           
    <div class="row prod-header">
        <div class="small-12 medium-12 columns">
            <h3 class="cur-prod">
                {{ prodCtrl.getProductById(idProd).title }}
                <span class="label prod-label"><i class="fi-torso"> </i>
                    {{ prodCtrl.getProductById(idProd).curOffers }} / {{ prodCtrl.getProductById(idProd).maxOffers }}</span>
            </h3>
        </div>    
    </div>
    
    <!-- Show product.image to the left side and other information on the right side -->
    <div class="row prod-content">
        <div class="small-9 medium-9 columns">
            <img ng-src="{{prodCtrl.getProductById(idProd).images}}">
        </div>
        <div class="small-3 medium-3 columns">
            <div class="row text-center">
                <span class="prod-oldprice">{{ prodCtrl.getProductById(idProd).oldPrice | currency:"&euro;" }}</span>
                <span class="prod-newprice">{{ prodCtrl.getProductById(idProd).newPrice | currency:"&euro;" }}</span>
            </div>
            <div class="row">
                <a class="button large btn-groupdeal prod-btn"><i class="fi-shopping-cart"></i> Ajouter au panier</a>
                <hr>
            </div>
            <!-- Social media external plugin -->
            <div class="row text-center prod-share">
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
            
            <!-- Info on the offer's author -->
            <div class="row prod-author-info">
                <hr>
                <span class="prod-author">Posté par : {{ prodCtrl.getProductById(idProd).author }}</span>
            </div>
            <div class="row">
                <span class="prod-author-safe">Indice de confiance : 80%</span>
                <div class="progress round success">
                    <span class="meter" style="width:80%"></span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Show product.desc -->
    <div class="row prod-desc">
        <div class="small-12 medium-12 columns">
            <h4 class="desc-label">Description de l'offre</h4>
            <p class="prod-desc-content">{{ prodCtrl.getProductById(idProd).desc }}</p>
            <hr>
        </div>
    </div>
    
    <!-- Show 4 similar products based on category AND tags -->
    <div class="row prod-similar">
        <div class="small-3 medium-3 large-3 columns end" ng-repeat="product in prodCtrl.products | tagsMatch : idProd  | limitTo : 4">
            <a href="/app/components/category/category.html#/{{product.category}}/{{product.id}}">
                <div class="thumbnail text-center">
                  <product-thumbnail></product-thumbnail>
                </div>
            </a>
        </div>
    </div>
</div>