<div class="specproduct">           
    <div class="row prod-header">
        <div class="small-12 medium-12 columns">
            <h3 class="cur-prod">
                Samsung Galaxy S5
                <span class="label prod-label"><i class="fi-torso"> </i>8/15</span>
            </h3>
        </div>    
    </div>

    <div class="row prod-content">
        <div class="small-9 medium-9 columns">
            <img src="../../../../assets/img/samsung-galaxy-s5.jpg">
        </div>
        <div class="small-3 medium-3 columns">
            <div class="row text-center">
                <span class="prod-oldprice">€599,90</span>
                <span class="prod-newprice">€499,90</span>
            </div>
            <div class="row">
                <a class="button large btn-groupdeal prod-btn"><i class="fi-shopping-cart"></i> Ajouter au panier</a>
                <hr>
            </div>
            <div class="row text-center prod-share">
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
            <div class="row prod-author-info">
                <hr>
                <span class="prod-author">Posté par : Pikabo</span>
            </div>
            <div class="row">
                <span class="prod-author-safe">Indice de confiance : 80%</span>
                <div class="progress round success">
                    <span class="meter" style="width:80%"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row prod-desc">
        <div class="small-12 medium-12 columns">
            <h4 class="desc-label">Description de l'offre</h4>
            <p class="prod-desc-content">erhtrtre ereotkre pr terotiepr</p>
            <hr>
        </div>
    </div>
</div>