<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
        
		<title>GroupDeal</title>
        
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="../../../assets/style/foundation/foundation.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/style/foundation/normalize.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/style/foundation/foundation-icons.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/style/flaticon/flaticon.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/style/customcss/shared.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/style/customcss/category.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
        
        <script type="text/javascript" src="../../../assets/js/vendor/modernizr.js"></script>

	</head>

	<body>
        
        <!-- Header and navbar -->
        <gd-header></gd-header>
        
		<div ng-view></div>
               
        <!-- Footer -->
        <gd-footer></gd-footer>

        
        <!-- Jquery foundation -->
		<script type="text/javascript" src="../../../assets/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="../../../assets/js/foundation/foundation.js"></script>
        <script type="text/javascript" src="../../../assets/js/foundation/foundation.dropdown.js"></script>
        <script type="text/javascript" src="../../../assets/js/foundation/foundation.equalizer.js"></script>
                        
        <!-- Angularjs related js files -->
        <script type="text/javascript" src="../../../assets/js/angular/angular.min.js"></script>
        <script type="text/javascript" src="../../../assets/js/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="../../app.module.js"></script>
                        
        <script type="text/javascript" src="../../shared/header/header.module.js"></script>
        <script type="text/javascript" src="../../shared/header/header.directive.js"></script>
        
        <script type="text/javascript" src="../../shared/footer/footer.module.js"></script>
        <script type="text/javascript" src="../../shared/footer/footer.directive.js"></script>
                        
        <script type="text/javascript" src="../../shared/thumbnail/thumbnail.module.js"></script>
        <script type="text/javascript" src="../../shared/thumbnail/thumbnail.directive.js"></script>
        <script type="text/javascript" src="../../shared/thumbnail/thumbnail.controller.js"></script>
        <script type="text/javascript" src="../../shared/thumbnail/thumbnail.filter.js"></script>
        
        <script type="text/javascript" src="../../components/category/category.module.js"></script>
        <script type="text/javascript" src="../../components/category/category.controller.js"></script>
        <script type="text/javascript" src="../../components/category/category.config.js"></script>
        
        <!-- External plugins -->
		<script type="text/javascript">
            $(document).foundation();
		</script>

	</body>
</html>