<!-- Login bar -->
<nav class="top-bar" data-topbar role="navigation">
    <div class="row">
        <ul class="title-area">
            <li class="name">
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="login"><a href="#"><i class="fi-torso"> </i>Se connecter</a></li>
                <li class="register"><a data-reveal-id="registerModal"><i class="fi-pencil"> </i>S'inscrire</a></li>
            </ul>
        </section>
    </div>
</nav>

<!-- Logo + Navbar -->

<nav class="top-bar navigationbar" data-topbar role="navigation">
    <div class="row">
        <div class="small-9 medium-9 large-9 columns">
            <section class="top-bar-section">
                <ul class="navlist">
                    <li><a href="/index.html">Accueil</a></li>
                    <li><a href="#">Proposer une offre</a></li>
                    <li class="has-dropdown not-click">
                        <a href="#">Catégories</a>
                        <ul class="dropdown text-left">
                            <li><a href="/app/components/category/category.html#/hightech"><span class="label nbProdBadge">{{ prodCtrl.nbProdPerCat('hightech') }}</span> High-Tech </a></li>
                            <li><a href="/app/components/category/category.html#/loisirs"><span class="label nbProdBadge">{{ prodCtrl.nbProdPerCat('loisirs') }} </span> Loisirs </a></li>
                            <li><a href="/app/components/category/category.html#/mode"><span class="label nbProdBadge">{{ prodCtrl.nbProdPerCat('mode') }} </span> Mode </a></li>
                            <li><a href="/app/components/category/category.html#/electromenager"><span class="label nbProdBadge">{{ prodCtrl.nbProdPerCat('electromenager') }} </span> Electroménager </a></li>
                            <li><a href="/app/components/category/category.html#/voyage"><span class="label nbProdBadge">{{ prodCtrl.nbProdPerCat('voyage') }} </span> Voyages </a></li>
                        </ul>
                    </li>
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Aide</a></li>
                </ul>
            </section>
        </div>
        <div class="small-3 medium-3 large-3 columns" ng-controller="LookupController">
            <input type="text" ng-model="query" ng-change="search()">
            <ul class="searchList" ng-show="query">
                <li ng-repeat="item in items | query : query" ng-click="select(item)" search-list>
                    <a class="searchres" href="/app/components/category/category.html#/{{item.category}}/{{item.id}}">
                        {{ item.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
