.cat-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cur-cat {
    font-weight: 600;
}

.product-filter {
    outline: none;
    font-size: 0.9rem;
    color: gray;
}

.catspec-thb {
    margin-bottom: 30px;
}


.btn-groupdeal {
    margin-top: 10px;
    color: #fff;

    background-color: #825be3;
    border-color: #825be3;
    padding: 0.5rem 1.5rem 0.5rem;
}

.thb-title, .thb-label {
    margin-left: 15px;
}

.thb-title {
    margin-right: 15px;
}

