.cat-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cur-cat {
    font-weight: 600;
}

.product-filter {
    outline: none;
    font-size: 0.9rem;
    color: gray;
}

.catspec-thb {
    margin-bottom: 30px;
}

