.btn, .label, .thumbnail, .input-group-addon, .form-control {
	border-radius :0px;
}

.btn-dayoffer {
	width :100%;
	margin-top: 10px;
}

.btn-cat-item {
    width :100%;
	margin-top: 100px;
}

.btn-groupdeal {
  color: #fff;
  background-color: #825be3;
  border-color: #825be3;
}

.btn-groupdeal:hover,
.btn-groupdeal:focus,
.btn-groupdeal.focus,
.btn-groupdeal:active,
.btn-groupdeal.active,
.open > .dropdown-toggle.btn-groupdeal {  
  color: #fff;
  background-color: #967adc;
  border-color: #967adc;
}

.navbar-brand {
	margin-left :0px;
}

.navbar-groupdeal {
	position: fixed;
	top: 0;
	left: 0;
	border: none;
	border-radius: 0;
	width: 100%;
	z-index: 2000;
}

.navbar-groupdeal2 {
	position: fixed;
	top: 50px;
	left: 0;
	border: none;
	border-radius: 0;
	width: 100%;
	z-index: 2000;
	background-color: #37bc9b;
	border-color: #37bc9b;
}

.mainblock {
	margin-top :100px;
}

.row2 {
	margin-right :2px;
}

.bodystyle {
	margin-left:15px;
	margin-right:15px;
}

.jumbotron-contents {
	background-color : white;
	height:350px;
}


.cat-title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 18px;
	text-shadow: 2px 2px 2px rgba(255,255,255,1);
}

.categorie {
	margin-top :20px;
}

.moreof {
	float:right;
	font-size :80%;
}

.moreof a {
	color:#434A54;
}

.showmore {
	margin: 20px 0 40px 0;
}

.footer {
	background-color: #313131;
}

.offerinfo {
	height :30px;
}

.requestinfo {
	float:left;
}

.oldprice {
	text-decoration: line-through;
	margin-right :10px;
	font-size: 115%;
	color : gray;
	float :right;
}

.newprice {
	font-size: 130%;
	color:#825be3;
	float :right;
}

.footer-copyright {
	margin-top:20px;
}

.footer {
	padding-bottom :20px;
}

body {
	font-family: Calibri;
}

/* SELECTER */

.filter { 
    float:right;
    margin-top: 30px;
}

.selecter .selecter-item.selected {
  color: white;
  background-color: #825be3;
  border-bottom-color: #825be3;
}

.selecter .selecter-item.selected:hover {
  background-color: #825be3;
}

.selecter.open .selecter-selected {
  z-index: 51;
  border: 1px solid #825be3;
          border-radius: 4px 4px 0 0;

  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
}

.selecter.disabled .selecter-item.selected {
  color: white;
  background-color: #825be3;
  filter: alpha(opacity=45);
  opacity: .45;
}

/* CATEGORY ITEMS */

.title-cat-item {
    margin-bottom: 5px;
}

.category-item {
    padding-left:0px;
    padding-right:0px;
    background-color: #fff;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.author {
    font-style: italic;
}

.cat-new-price {
    font-size : 200%;
    color:#825be3;
}

.cat-old-price {
    font-size : 170%;
    text-decoration: line-through;
    color : gray;
}

.example-pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}