/*-----------------------------------------
--------------- HOT PRODUCT ---------------
-----------------------------------------*/

.hotnow.columns {
    padding-left: 0;
    padding-right: 0; 
}

.hotproduct {
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    bottom:0px;
    left:0px;
    padding : 0.5rem 1.0rem;
    width: 100%;
    border-bottom: 0px solid #1abc9c;
}

.hot-title, .hot-desc {
    color:#fff;
    font-family: 'Raleway', serif;
    font-weight: 600;
}

.hot-label {
    padding: 0.5rem 1rem 0.5rem;
    font-size: 0.9rem;
    background-color: #1abc9c;
    color: #FFFFFF; 
}

.hot-newprice {
    margin-left: 10px;
    font-size : 1.3rem;
    color : #825be3;
    font-weight: 600;
    vertical-align: middle;
}

.hot-oldprice {
    margin-left: 10px;
    color : #bdbdbd;
    text-decoration: line-through;
    vertical-align: middle;
}

.hot-btn {
    margin-bottom: 10px;
}


/*-----------------------------------------
------------ THUMBNAILS HEADER ------------
-----------------------------------------*/
span.cat-showmore a {
    color : #555555;
    font-size: 0.9rem;
    font-family: 'Raleway', serif;
    font-weight: 700;
}

.cat-title {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Raleway', serif;
    margin-bottom: 15px;
}

.thb-header {
    margin-top: 30px;
}

.showallcat {
    margin-top: 35px;
}
