body {
    min-width: 62.5rem;
    margin: auto;
    background-color: rgb(241,242,246); 
}

.btn-groupdeal {
  color: #fff;
  background-color: #825be3;
  border-color: #825be3;
  padding: 0.8rem 1.25rem 0.8rem;
  font-family: 'Raleway', serif;
  font-weight: 600;
}

.btn-groupdeal:hover,
.btn-groupdeal:focus,
.btn-groupdeal.focus,
.btn-groupdeal:active,
.btn-groupdeal.active,
.open > .dropdown-toggle.btn-groupdeal {  
  color: #fff;
  background-color: #967adc;
  border-color: #967adc;
}

/*-------------------------------------------
---------------- NAV BARS -------------------
-------------------------------------------*/

nav li.login > a, nav li.register > a {
    font-family: 'Raleway', serif;
    font-weight: 500;
    color: #bdbdbd !important; 
}

nav li.login > a:hover, nav li.register > a:hover {
    color: #fff !important; 
}

ul.navlist {
    list-style-type: none;
    text-align: center;
}

ul.navlist > li {
    display: inline-block;
    margin : 0px 20px;
    font-weight: 500;
    font-size: 85%;
}

ul.navlist > li > a {
    font-family: 'Raleway', serif;
    color : #bdbdbd; 
}

ul.navlist > li > a:hover, ul.dropdown > li > a:hover, ul.dropdown > li > a {
    font-family: 'Raleway', serif;
    color : #fff !important; 
}

.top-bar .row {
    margin: auto;
    max-width: 62.5rem;   
}

.navigationbar, nav.navigationbar ul li a {
    background-color : #444444 !important;
}

.nbProdBadge {
    background-color: #666666;
    border-radius: 10px;
    margin-right: 5px;
}
/*-----------------------------------------
--------------- THUMBNAILS ----------------
-----------------------------------------*/
.thumbnail {
    background-color: #fff;
    padding-bottom: 10px;
}

.thb-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 10px 0px;
    margin-top: 20px;
    font-family: 'Raleway', serif;  
}

.thb-label {
    padding: 0.25rem 0.5rem 0.25rem;
    font-size: 0.8rem;
    background-color: #1abc9c;
    color: #FFFFFF; 
}

.thb-newprice {
    margin-left: 5px;
    color : #825be3;
    font-weight: 600;
    vertical-align: middle;
}

.thb-oldprice {
    font-size: 0.9rem;
    margin-left: 5px;
    color : #bdbdbd;
    text-decoration: line-through;
    vertical-align: middle;
}


/*-----------------------------------------
----------------- FOOTER ------------------
-----------------------------------------*/
.footer {
    background-color: #222222;
    padding : 20px 0 10px;
    margin-top : 40px;
}

.copyright {
    font-size: 0.75rem;
    color : gray;
    margin-top: 6px;
    font-family: 'Raleway', serif;
}

a.logo-footer, a.logo-footer:hover {
    font-family: 'Raleway', serif;
    font-weight: 700;
    color : gray;
}

ul.social-footer {
    list-style-type: none;
    float:right;}

ul.social-footer > li {
    display: inline-block;
}

a.facebook, a.twitter {
    color : #444444;
}

a.facebook:hover, a.twitter:hover {
    color : #825be3;
}

.footer .logo {
    padding-top : 15px;
}